body {
  background: #DDDDDD;
}

.navbar {
  background-color: #800000;
  color: white;
}

.bottom-navbar {
  background-color: #800000; 
  width: 100%;                
  min-height: 7.5%;
}

.bottom-navbar .container-fluid {
  padding-right: 4em; 
  padding-left: 4em;  
  margin-right: auto;
  margin-left: auto; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.bottom-navbar .row {
  width: 100%; 
  height: 100%;
}

.bottom-navbar .col-3 {
  display: flex;
  justify-content: center; 
  align-items: center;     
  padding: 5px 10px;
  border-right: 1px solid white; 
}

.bottom-navbar .col-3:last-child {
  border-right: none;
}

.material-icons {
  font-size: 20px; 
  color: white;
}


.page-container {
  margin-top: 75px;
}

.navbar>.container{
    display: block;
}

html{
  margin: 0;
  height: 100%;
  overflow-y: scroll;  
}

.bmd-layout-content {
  background-color: darkgrey;
  color: white ;
}

#CommentSection {
  --bs-offcanvas-height: 50vh;
}

span.bmd-form-group {
  padding: 0;
}

.dropdown-toggle {
  color: black;
}

.comment-button { 
  padding: 0px 2px;
}

.profile-picture {
  max-width: 50px;
  max-height: 50px;
}

#roselogo {
    margin: 20px auto;
    display: block;
    max-width: 350px;
}

.card-body{
  background-color: white;
  color: #000;
}

#rosefireButton {
    display: block;
    margin: 60px auto;
    color: white;
    background: #800000;
    font-size: 1.1em;
    padding: 10px 30px;
    border-radius: 5px;
}
.logo {
  display: grid;
  place-items: center;
}

.categories-nav {
  color: #c4c4c4;
  padding: 18px 12px;
}

.category-item-selected {
  color: #fff;
  background-color: rgba(50, 50, 50, 0.6);
  border-radius: 5px;
}

.category-item {
  padding: 5px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0;
}

.category-item .icon {
  width: 36px;
  height: 36px;
  display: grid;
  place-items: center;
  margin-right: 10px;
}

.category-item .icon svg {
  width: 24px;
  height: 24px;
}

.playlists-nav {
  color: #c4c4c4;
  padding: 18px 12px;
}

button {
  background: transparent;
  border: none;
  color: white;
}

#resultsPage {
  width: 100%;  
  padding: 20px;  
  box-sizing: border-box;  
  display: flex;
  flex-direction: column;
  align-items: center; 
}

#searchResults {
  width: 100%;  
  display: flex;
  flex-direction: column;
  align-items: center;  /* Center cards */
  padding-bottom: 20px; 
}

.card {
  width: 90%;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 10px;
  display: flex;
  justify-content: space-between;  
  box-sizing: border-box;
}

.card-body {
  display: flex;
  align-items: center; 
  width: 100%;
}

.img-fluid {
  flex-shrink: 0; 
  border-radius: 5px; 
}

.card-title, .card-text {
  margin: 0; 
  padding: 0; 
}

.card-title {
  font-size: 1em; 
}

.card-text {
  font-size: 0.8em; 
}

.bmd-layout-content {
  width: 100%;  
  overflow-y: auto; 
}

.last-card {
  margin-bottom: 40px;
}
