body {
  background: #DDDDDD;

}

html{
  margin: 0;
  height: 100%;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.navbar {
  background-color: #800000;
  color: white;
}

.bottom-navbar {
  background-color: #800000; 
  width: 100%;                
  min-height: 7.5%;
}

.dropdown-menu {
  z-index: 9999;
  position: absolute;
}

.bottom-navbar .container-fluid {
  padding-right: 4em; 
  padding-left: 4em;  
  margin-right: auto;
  margin-left: auto; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.bottom-navbar .row {
  width: 100%; 
  height: 100%;
  justify-content: center; 

}

.bottom-navbar .col-3 {
  display: flex;
  justify-content: center; 
  align-items: center;     
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  vertical-align: 0;

}

.bi {
  font-size: 20px; 
  color: white;
  vertical-align: 0;
  height: 1.2em;
}


.page-container {
  margin-top: 75px;
}

.navbar>.container{
    display: block;
}

.bmd-layout-content {
  background-color: darkgrey;
  color: white ;
}

#CommentSection {
  --bs-offcanvas-height: 50vh;
}

span.bmd-form-group {
  padding: 0;
}

.dropdown-toggle {
  color: black;
}

.btn-tertiary {
  background-color: gray;
}

.comment-button { 
  padding: 0px 2px;
}

.profile-picture {
  max-width: 50px;
  max-height: 50px;
}

#roselogo {
    margin: 20px auto;
    display: block;
    max-width: 350px;
}

.card-body{
  background-color: white;
  color: #000;
}

#rosefireButton {
    display: block;
    margin: 60px auto;
    color: white;
    background: #800000;
    font-size: 1.1em;
    padding: 10px 30px;
    border-radius: 5px;
}
.logo {
  display: grid;
  place-items: center;
}

.categories-nav {
  color: #c4c4c4;
  padding: 18px 12px;
}

.category-item-selected {
  color: #fff;
  background-color: rgba(50, 50, 50, 0.6);
  border-radius: 5px;
}

.category-item {
  padding: 5px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0;
}

.category-item .icon {
  width: 36px;
  height: 36px;
  display: grid;
  place-items: center;
  margin-right: 10px;
}

.category-item .icon svg {
  width: 24px;
  height: 24px;
}

.playlists-nav {
  color: #c4c4c4;
  padding: 18px 12px;
}

button {
  background: transparent;
  border: none;
  color: white;
}

#resultsPage {
  width: 100%;  
  padding: 20px;  
  box-sizing: border-box;  
  display: flex;
  flex-direction: column;
  align-items: center; 
  overflow-y: scroll;
}

#searchResults {
  width: 100%;  
  display: flex;
  flex-direction: column;
  align-items: center;  /* Center cards */
  padding-bottom: 20px; 
}

.card {
  width: 90%;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 10px;
  display: flex;
  justify-content: space-between;  
  box-sizing: border-box;
  z-index: 1; 
  position: static;
}

.card-body {
  display: flex;
  align-items: center; 
  width: 100%;
}

.img-fluid {
  flex-shrink: 0; 
  border-radius: 5px; 
}

.card-title, .card-text {
  margin: 0; 
  padding: 0; 
}

.card-title {
  font-size: 1em; 
}

.card-text {
  font-size: 0.8em; 
}

.bmd-layout-content {
  width: 100%;  
}

.last-card {
  margin-bottom: 40px;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

}

.song-card {
  background-color: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  width: 90%; 
  max-width: 800px; 
  margin: auto; 
  padding: 20px;

  color: white;
  text-align: center;
  position: relative;
}

.song-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.album-art {
  width: 200px; 
  height: 200px; 
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px; 
}

.song-info h1, .song-info h2 {
  margin: 5px 0;
  font-size: 2em;
}

.song-stats {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
  margin-top: 20px;
}

.stat {
  width: 50%; 
  min-width: 600px; 
  text-align: center;
  padding: 10px 0;
}

.stat-value {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

.stat-label {
  font-size: 1em; 
  color: #aaa;
}

audio {
  width: 100%;
  margin-top: 20px;
}

.nav-button {
  position: absolute;
  top: 20px;
  cursor: pointer;
  font-size: 24px;
  color: white;
  user-select: none;
  padding: 5px; 
  border: 1px solid #ffffff66; 
  border-radius: 0;
  cursor: pointer; 
  transition: background-color 0.3s, color 0.3s;
}

.nav-button i:hover {
  background-color: #ffffff33; 
  color: #fff;
}

#prev-song {
  left: 20px;
}

#next-song {
  right: 20px;
}